body
{
background-color:#000000;
}
b
{
color:#FFFFFF;
font-size:250%;
border:5px solid white;
margin:auto;
text-align:center;
width:70%;
}
b1
{
color:#FFFFFF;
font-size:150%;
border:2px solid white;
margin:auto;
text-align:center;
width:70%;
}
a.button {
  display: inline-block;
  color: white;
  font-weight: 100;
  font-size:250%;
  text-decoration: none;
  user-select: none;
  padding: .1em 1em;
  outline: none;
  border: 5px solid;
  border-radius: 5px;
  transition: 0.2s;
} 
a.button:hover { background: rgba(255,255,255,.2); }
a.button:active { background: white; }